{{#each destinations as |destination|}}
<!-- {{log destination}} -->
<section data-id="{{destination.id}}">
<h4>Name: {{destination.name}}</h4>
<h6>City: {{destination.city}}</h6>
<h6>State: {{destination.state}}</h6>
<button data-id="{{destination.id}}" type="button" class="edit-button">Edit</button>
<button data-id="{{destination.id}}" type="button" class="delete-button">Delete</button>
<hr class="end-one"/>

</section>
{{/each}}
