<!-- {{log destination}} -->
<section data-id="{{destination.id}}" class="update-this">
  Edit Destination: <br/>
  <input type="text" name="destination[name]" value="{{destination.name}}"><br/>
  <input type="text" name="destination[city]" value="{{destination.city}}"><br/>
  <input type="text" name="destination[state]" value="{{destination.state}}"><br/>
  <input type="hidden" name="destination[id]" value="{{destination.id}}">
  <button data-id="{{destination.id}}" type="button" class="cancel-button">Cancel</button>
  <input data-id="{{destination.id}}" type="submit" class="save-button" value="Save">
</section>
