{{log form}}
<section data-id="{{form.id}}">
<h4>New Name: {{form.name}}</h4>
<h6>New City: {{form.city}}</h6>
<h6>New State: {{form.state}}</h6>
<button data-id="{{form.id}}" type="submit" class="save-button">Save</button>
<button data-id="{{form.id}}" type="submit" class="cancel-button">Cancel</button>

</section>
